/* ===================== 1400px =================== */

@media (max-width: 1400px)
    .menu
        &_item
            padding-right: 18px
/* ===================== 1200px =================== */

@media (max-width: 1200px)
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 11px
    .promo
        &_header
            font-size: 50px
    .reason_block
        margin-top: 8px
        align-items: flex-start
        .reason_descr
            width: 300px
    .mobile
        &_item
            width: 300px
    .info
        .info_app_block 
            margin-top: 54px
            img
                width: 230px
        &_link
            width: 40%
       
/* ===================== 991px =================== */

@media (max-width: 991px)
    .menu
        padding: 13px 8px
        &_item
            padding-right: 9px
        &_link
            font-size: 11px
    .sub_header
        &_logo img
            width: 100%
        &_descr
            font-size: 12px
        &_number
            font-size: 20px
        .call_btn
            margin-top: 22px
            width: 100%
            height: 40px
    .promo
        &_header
            font-size: 40px
        &_sub_header
            font-size: 28px
    .reason
        padding-bottom: 60px
        &_block
            flex-direction: column
            align-items: center
        &_descr
            width: 300px
    .choise
        img
            margin-top: 264px
            width: 640px
            height: 410px
        &_white
            min-height: 340px
            .sub_title
                padding-top: 200px
    .info
        flex-direction: column
        align-items: center
        justify-content: center
        &_link
            order: 1
            width: 100%
            a
                font-size: 13px
            &_minor_item
                a
                    font-size: 10px
        &_media
            order: 2
            margin: 12px 0px 0px 0px
            justify-content: center
        &_app
            order: 3
            &_block
                margin: 0px
            .info_app_block
                margin: 16px 0px 8px 0px
                justify-content: center
            
/* ===================== 767px =================== */

@media (max-width: 767px)
    .menu
        z-index: 100
        padding: 20px 15px
        position: fixed
        flex-direction: column
        background-color: rgba(0,0,0, .8)
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        transition: 0.6s all
        &_active
            left: 0
        &_item
            padding-right: 0px
            border: none
            margin: 20px 0px
        &_link
            font-size: 18px			
    .burger
        display: block
        position: absolute
        right: 16px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 4px
            transition: 0.6s all
        &_active
            span
                margin-bottom: -2px 
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .sub_header
        &_number
            margin-top: 4px
            display: block
            font-size: 18px
            text-transform: uppercase
            text-align: center
            color: #FFFFFF
        .call_btn
            width: 172px
            height: 40px
            margin: 0 auto
            margin-top: 8px
            display: block
    .promo
        &_header
            font-size: 34px
            margin-top: 128px
    .reason_block
        .reason_descr
            text-align: center
            width: 400px
            .reason_header
                text-align: center
    .choise
        min-height: 840px
        img
            margin-top: 316px
            width: 500px
            height: 320px 
        &_white
            .sub_title
                padding-top: 140px
    
/* ===================== 575px =================== */

@media (max-width: 575px)
    nav
        height: 36px
    .sub_header
        height: 60px
        &_descr
            display: none
        &_logo
            margin-top: 12px
        &_number
            margin-top: 2px
            text-transform: uppercase
            font-weight: 400
            font-size: 14px
        .call_btn
            margin-top: 1px
            font-size: 10px
            text-transform: uppercase
            width: 120px
            height: 30px
    .promo
        min-height: 400px
        &_descr
            display: none
        &_header
            margin-top: 102px
            font-size: 30px
            line-height: 35px
            padding: 0px 24px
        &_sub_header
            margin-top: 34px
            font-size: 20px
            line-height: 26px
        &_btn
            margin-top: 68px
            width: 210px
            height: 50px
            font-size: 16px
    .menu
        width: 82%
        &_link
            font-size: 16px
    .reason
        padding: 20px 0 32px 0px
        .title
            margin-top: 18px
            font-size: 15px
        &_block
            margin-top: 26px
            .reason_icon 
                width: 100px
                height: 100px
            .reason_descr
                width: 100%
                margin: 15px 0px 0px 0px 
    .mobile
        padding: 48px 0 28px 0
        .title
            font-size: 15px
    .choise
        min-width: 320px
        min-height: 390px
        .label
            margin-top: 38px
        min-height: 390px
        img
            margin-top: 100px
            width: 300px
            height: 190px
        &_dark
            min-width: 320px
            min-height: 390px
            .title
                display: none
            .sub_title
                padding-bottom: 28px
                margin-top: 250px
                line-height: 24px
                font-weight: 300
        &_white
            display: none
    .require
        &_block
            margin: 16px 0px
        padding: 0px 0px 0px 0px
        .title
            font-size: 16px
            margin: 14px 0px 0px
        .require_title
            text-align: center
            font-size: 16px
        .require_list li
            line-height: 20px
            margin-bottom: 6px
            font-size: 14px
    .world_map
        padding-bottom: 12px
        min-width: 320px
        min-height: 360px
        .label
            margin-top: 28px
        .title
            margin-top: 24px
            font-size: 16px
        .link_all_sities
            margin-top: 212px
    .info
        &_link_main
            margin-top: 20px
            width: 300px
            a
                font-size: 14px
                font-weight: 300
